

/
/
/
/
/
/
/
/
/
/      NO LILYS ALLOWED.
/
/
/
/
/
/
/
/
/


<meta name="viewport" content="width=640, initial-scale=1, user-scalable=no">
%link{:rel=>"stylesheet", :type=>"text/css", :href=>"warriors.sass"}
#container
  #enemyDeck
  #enemyStats
  #board
  #playerStats
  #playerDeck
  #overlay
    #boardHighlight
      .bg
      .circle.c1
      .circle.c2
      .circle.c3
      .circle.c4
      .circle.c5
    #attackContainer
      #attack

%script{:type=>"text/javascript", :src=>"warriors.js"}
%script{:type=>"text/javascript", :src=>"weapons.js"}
%script{:type=>"text/javascript", :src=>"unit.js"}
